<h1>Welcome {{ name }}!</h1>
<div class="container">
  You can manage your list of todo <a routerLink="/todos">here</a>
</div>
<div class="container">
  Click here to customized welcome message
  <button (click)="getWelcomeMessage()" class="btn btn-success">
    Get Welcome Message
  </button>
</div>

<div class="container" *ngIf="welcomeMessageFromService">
  <h2>Your Welcome Message: {{ welcomeMessageFromService }}</h2>
</div>

<div class="container" *ngIf="errorMessageFromService">
  <h2>Your Error Message: {{ errorMessageFromService }}</h2>
</div>
